<mat-card class="search-bar-card">
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <div class="search-grid">
      <mat-form-field appearance="outline">
        <mat-label>Search Terms</mat-label>
        <input matInput formControlName="search_terms" placeholder="Enter search terms" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Brands</mat-label>
        <input matInput formControlName="brands" placeholder="e.g., Nestle, Mars" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Categories</mat-label>
        <input matInput formControlName="categories" placeholder="e.g., Snacks, Beverages" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Labels</mat-label>
        <input matInput formControlName="labels" placeholder="e.g., Organic, Vegan" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Countries</mat-label>
        <input matInput formControlName="countries" placeholder="e.g., USA, France" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nutriments</mat-label>
        <input matInput formControlName="nutriments" placeholder="e.g., fat, sugar" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Page</mat-label>
        <input matInput type="number" formControlName="page" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Page Size</mat-label>
        <input matInput type="number" formControlName="page_size" />
      </mat-form-field>
    </div>

    <div class="search-button-container">
      <button mat-raised-button color="primary" type="submit" [disabled]="searching">Search</button>
    </div>
  </form>
</mat-card>
