<section class="home">
    <h1>Welcome $HOME></h1>
    <p>
        Here is our web application that helps you compare food products using data from the open OpenFoodFacts database.
    </p>
  
    <ul>
        <li>🔎 Search for products by name, brand, category, or nutrient.</li>
        <li>⚖️ Compare their nutritional quality in a few clicks.</li>
        <li>🌍 Filter results by country or specific labels (e.g., organic, vegan)...</li>
      </ul>

      <div class="action-buttons">
        <a routerLink="/compare" mat-raised-button color="primary">Compare Products</a>
        <a routerLink="/alternatives" mat-raised-button color="accent">Find Alternatives</a>
      </div>
  </section>
  